.huno{
    font-style: oblique;
    color: #f50057;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    position: relative;
    margin-left: 47%;
}

.SandwichsCards{
    position: relative;
    margin-left: 18%;
}
