.menu{
    height: 700px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.huno{
    padding-top: 120px;
    font-style: oblique;
    color: #181C1F;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    text-align: center;
}

.SandwichsCards{
    padding-left: 15px;
    padding-top: 40px;
}

.AppetizerCards{
    padding-left: 90px;
    padding-top: 40px;
}
