.header{
    position: sticky;
    top: 0;
    z-index: 1000 !important;
    background-color: #FAC832;
    height: 100px !important;
    width: 100% !important;
    max-height: 100px !important;
    max-width: 100% !important;
}

.logo{
    position: relative;
    left: 15%;
}

.buttons{
    position: fixed;
    top: 5%;
    left: 50%;
}
