.header{
    position: sticky;
    top: 0;
    z-index: 1000 !important;
    background-color: #FAC832;
}

.logo{
    position: relative;
    left: 15%;
}

.buttons{
    position: fixed;
    top: 5%;
    left: 50%;
}
